<h1 id="title" class="title">Регистрация</h1>

<form (ngSubmit)="register()" [formGroup]="form" aria-labelledby="title">
    <div class="form-control-group">
        <label class="label">Логин:</label>
        <input formControlName="login" nbInput fullWidth placeholder="Login" fieldSize="large" autofocus>
    </div>

    <div class="form-control-group">
        <span class="label-with-link">
            <label class="label" for="input-password">Пароль:</label>
        </span>
        <input formControlName="password" nbInput fullWidth type="password" id="input-password" placeholder="Password"
            fieldSize="large">
    </div>

    <button class="mt-3" nbButton fullWidth [status]="'primary'" size="large">
        Создать учётную запись
    </button>
</form>