<div class="about-us-page-container">
  <pre class="about-us-text">
    Туристическое агентство "VACATION". Агентство было открыто в 2020 году и является
    надёжным поставщиком туристических туров во все страны мира.
    На сайте представлены самые интересные предложения по туризму в любых категориях.
    Туристические агенты обновляет список туров каждый день. Для заказа тура необходимо
    просто заполнить форму, и туристический агент свяжется с Вами для уточнения
    деталей заказа.
  </pre>
</div>
